<div class="row">
  <div class="offset-4 col-md-4">
      <h1 class='text-center'>
        All Events
      </h1>
      <hr>
      <hr>
      <h2 class='text-center'>
        Past Events
      </h2>
      <hr>
      <p>
        <% @events.past.each do |eves| %>
          <p> <%= eves.description %> </p>
          <small><%= eves.event_date %> </small>
          <br>
          <small> <%= link_to 'show event', eves %> </small>
          <br>
          <br>
          
        <% end %>
      </p>
      <hr>
      <hr>
      <h2 class='text-center'>
        Upcomming Events
      </h2>
      <hr>
      <p>
        <% @events.future.each do |eves| %>
          <p> <%= eves.description %> </p>
          <small><%= eves.event_date %> </small>
          <br>
          <small> <%= link_to 'show event', eves %> </small>
          <br>
          <br>
          
        <% end %>
      </p>
  </div>
</div>